.sec4 {
  padding: 5% 0;
}

.sec4 .title-sub {
  width: 100%;
  max-width: 1000px;
  margin: 19px auto 40px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #fff;
  opacity: .85;
  text-align: left;
}

.xltt-2-calltoaction .line {
  width: calc( 100% - 155px);
  opacity: .5;
}

.sec4 .calltiaction {
  display: block;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 150px;
  height: 35px;
  text-align: center;
  background-color: #02416C;
  line-height: 35px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  transition: .3s ease;
  cursor: pointer;
  box-shadow: 0 10px 20px -5px rgba(22, 71, 144, 0.9);
  cursor: pointer;
}

.sec4 .calltiaction:active {
  background-color: #0C4D79;
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
  box-shadow: 0 3px 8px -2px rgba(22, 71, 144, 0.95);
}

.sec4 .calltiaction:hover {
  background-color: #0C4D79;
}

.xltt-2-window {
  font-size: 0;
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.xltt-2-window .card {
  position: relative;
  display: inline-block;
  width: 22%;
  margin-right: 4%;
  cursor: pointer;
  transition: .3s ease;
}

.xltt-2-window .card img {
  width: 100%;
}

.xltt-2-window .card img.hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s ease;
}

.xltt-2-window .card h4, .xltt-2-window .card h5 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 20px auto 5px;
  font-weight: 700;
}

.xltt-2-window .card h5 {
  font-size: 17px;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px #fff;
  transition: .3s ease;
}

.xltt-2-window .card:hover .hover {
  opacity: 1;
}

.xltt-2-window .card:hover h5 {
  background-color: #fff;
  color: #0098ff;
}

.xltt-2-window .card.d {
  margin: 0;
}

.xltt-2-window-pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.xltt-2-window-pop .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.xltt-2-window-pop .pop {
  -webkit-animation: ysbShow 0.8s ease 0s 1 both;
          animation: ysbShow 0.8s ease 0s 1 both;
  display: none;
  position: absolute;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  padding: 10px 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.85);
}

.xltt-2-window-pop .pop .close {
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.xltt-2-window-pop .pop .slider {
  height: auto;
}

.xltt-2-window-pop .pop img {
  position: relative;
  width: 100%;
}

.xltt-2-window-pop .pop li img {
  position: relative;
  width: 100%;
}

.xltt-2-window-pop .pop li h4 {
  text-align: center;
  color: #0098ff;
  letter-spacing: 1px;
  font-size: 20px;
}

.xltt-2-window-pop .pop p {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 20px 25px 0;
  box-sizing: border-box;
  margin: 20px auto 0;
}

.xltt-2-window-pop .pop p b {
  color: #0098ff;
  font-weight: 700;
}

.xltt-2-window-pop .pop .small {
  font-size: 15px;
  padding: 20px 25px 0;
  color: rgba(0, 0, 0, 0.5);
}

.xltt-2-window-pop .pop .calltoaction {
  width: 150px;
  letter-spacing: 2px;
  height: 30px;
  font-size: 17px;
  line-height: 30px;
  box-shadow: 0 10px 20px -5px rgba(0, 152, 255, 0.45);
  background: #0098ff;
  transition: .5s ease;
  font-weight: bold;
  color: #fff;
  margin: 30px auto;
}

.xltt-2-window-pop .pop .calltoaction:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  box-shadow: 0 3px 2px -2px #0098ff;
}

.xltt-2-window-pop .pop .calltoaction a {
  display: block;
  color: #fff;
}

.pop .unslider-arrow {
  font-size: 0;
  top: 0;
  height: 100%;
  width: 10%;
  right: 0;
  background-image: url("../img/main/arrow.svg");
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  opacity: .45;
  transition: .3s ease;
  z-index: 10;
}

.pop .unslider-arrow:hover {
  opacity: .9;
}

.pop .unslider-arrow.prev {
  left: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
  .xltt-2 .xltt-2-calltoaction {
    display: block;
  }
  .xltt-2 .xltt-2-calltoaction h2 {
    font-size: 30px;
    padding: 0;
  }
  .xltt-2 .xltt-2-calltoaction .line {
    display: none;
  }
  .xltt-2 .xltt-2-calltoaction .calltiaction {
    margin: 10px auto;
    width: 200px;
    height: 40px;
    line-height: 40px;
  }
  .xltt-2-window .card {
    width: 48%;
    margin: 20px 1%;
  }
  .xltt-2-window .card.d {
    margin: 20px 1%;
  }
  .sec4 .title-sub {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .xltt-2-window .card {
    width: 90%;
    margin: 20px 5%;
  }
  .xltt-2-window .card.d {
    margin: 20px 5%;
  }
}

@-webkit-keyframes ysbShow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0%, 0);
            transform: translate3d(-50%, 0%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes ysbShow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0%, 0);
            transform: translate3d(-50%, 0%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
}
