html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
a {
	text-decoration: none;
}
$main: rgba(0, 152, 255, 1);
$main-7: rgba(0, 152, 255, .45);
$navH: 0px;

*:not(.fa) {
  font-family: xingothic-tc;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,body {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	position: relative;
	padding: 0;
	margin: 0;
}
body {
	top: 60px;
}
section {
	position: relative;
	transition: .25s ease;
	height: auto;
	width: 100%;
	top: $navH;
}
#nav {
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(255,255,255,.8);
  z-index: 11;
  .btn {
    display: none;
  }
  .logo {
    position: absolute;
    height: 60%;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto 0;
    img {
      height: 100%;
    }
  }
  a {
    line-height: 30px;
  	color: rgba(0,0,0,.5);
    font-size: 15px;
    padding: 1px 15px;
    margin: 0 5px;
    transition: .3s ease;
    &:hover {
      color: $main; 
    }
    &.active {
    	color: $main;
      box-shadow: 0 6px 0 -5px $main;  
    }
  }
span.calltoaction { 
  	width: 110px;
  	letter-spacing: 2px;
  	height: 30px;
  	font-size: 15px;
  	line-height: 30px;
    box-shadow: 0 10px 20px -5px $main-7;
    background: $main;
    transition: .5s ease;
    font-weight: bold;
    color: #fff;
    margin-right: 3%;
    &:active {
      transform: scale(.9);
      box-shadow: 0 3px 2px -2px $main;
    }
  }
}
.headroom {
    will-change: transform;
    transition: transform 300ms ease-out;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
footer {
	position: relative;
	width: 100%;
	height: 80px;
	top: $navH;
	text-align: center;
	font-size: 12px;
	color: rgba(0,0,0,.69);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.logo {
		position: relative;
		display: block;
		margin: 10px auto;
		width: 30px;
		img {
			width: 100%;
		}
	}
}
header {
	position: relative;
	top: $navH;
}
.content {
	position: relative;
	width: 100%;
	height: 100%;
}
.slider {
	position: relative;
	width: 100%;
	height: calc( 100vh - 90px );
	margin: auto;
	.slider-img1 { background: url("../img/main/home-banner1.jpg"); }
	.slider-img2 { background: url("../img/main/home-banner2.jpg"); }
	.slider-img3 { background: url("../img/main/home-banner3.jpg"); }
	.slider-img4 { background: url("../img/main/home-banner4.jpg"); }
	.slider-img5 { background: url("../img/main/home-banner5.jpg"); }
	.slider-img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
	}
}
// sec1
.sec1 {
	position: relative;
	width: 100%;
	height: auto;
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-content-text {
	position: relative;
	text-align: center;
	width: 90%;
	max-width: 900px;
	box-sizing: border-box;
	padding: 60px 40px;
	background-color: #fff;
	h3 {
		color: $main;
		font-size: 40px;
		margin-bottom: 25px;
		font-weight: 700;
	}
	p {
		color: rgba(0,0,0,.69);
		line-height: 1.7;
		font-size: 17px;
	}
}
.s1-playvideo {
	position: relative;
	display: inline-block;
	background-color: rgba(0,0,0,.69);
	text-align: center;
	line-height: 30px;
	padding: 0 10px;
	width: 140px;
	color: #fff;
	cursor: pointer;
	margin: 30px auto 0;
	transition: .3s ease!important;
	&:hover {
		background-color: rgba(0,0,0,1);
	}
}
/* ----- youtuber-box ----- */
.youtube-box {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.youtube-position {
  position: relative;
  top: 50%;
  transform: translate3d(0,-50%,0);
  -webkit-transform: translate3d(0,-50%,0);
  pointer-events: none;
  animation: ybShow 0.8s ease 0s 1 both;
}
@keyframes ybShow {
    0% { opacity: 0; transform: translate3d(0,0%,0);}
  100% { opacity: 1; transform: translate3d(0,-50%,0);}
}
.youtube-box .img-bg-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .55);
  cursor: pointer;
}
.img-bg-black img/*XX按鈕*/ {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 30px;
}
.youtube-box-main {
  position: relative;
  width: 95%;
  max-width: 950px;
  margin: auto;
}
.youtube-box-main-169 {
  padding-bottom: 53%; /*撐出16:9*/
}
.youtube-box-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: visible;
}
/* ----- youtuber-box END ----- */
// sec1 END
// sec2
.sec2 {
	overflow: hidden;
	height: auto;
	.p {
		font-size: 17px;
		line-height: 1.7;
		letter-spacing: 1px;
		color: #fff;
	}
	.header {
		position: relative;
		top: 0;
		left: 0;
		height: 500px;
		width: 100%;
		background-color: $main;
		display: flex;
		justify-content: center;
		align-items: center;
		h2 {
			text-align: left;
			font-size: 40px;
			color: #fff;
			font-weight: 700;
			margin: 0 0 30px 0;
			letter-spacing: 1px;
		}
		img {
			flex: 1 1 auto;
			width: 30%;
			max-width: 300px;
			margin-right: 30px;
		}
		.m-sec-text {
			display: none;
		}
	}
	.h-BnG {
		position: relative;
		flex: 0 2 auto;
	}
	.fn-wrap {
		position: relative;
		bottom: 0;
		left: 0;
		text-align: left;
		z-index: 2;
		.fn {
			display: inline-block;
			width: 150px;
			height: 100%;
			margin: 0 20px 0 0;
			color: #fff;
			font-size: 20px;
			line-height: 50px;
			transition: .3s ease;
			text-align: center;
			cursor: pointer;
			box-shadow: inset 0 0 0 1px #fff;
			&:hover {
				color: $main;
				background-color: #fff;
			}
		}
	}
	.fn-show {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0px;
		z-index: 20;
		display: none;
	}
	.fn-show-content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		display: none;
		justify-content: center;
		align-items: center;
	}
	.sec-white-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}
	.sec-img {
		position: relative;
		height: 100%;
		order: -1;
		img {
			height: 100%;
		}
	}
	.a .sec-text { background-color: rgba(20,108,196,.43); }
	.b .sec-text { background-color: rgba(98,37,186,.43);  }
	.c .sec-text { background-color: rgba(239,184,72,.43); }
	.sec-text {
		position: relative;
		width: 100%;
		height: 100%;
		order: 1;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding-left: 5%;	
		h2, p, div {
			display: block;
			width: 95%;
			max-width: 500px;
			text-align: left;
			color: #fff;
		}
		h2 {
			font-size: 24px;
			color: #fff;
			margin: 20px 0;
			font-weight: 700;
		}
		p {
			font-size: 18px;
			line-height: 1.5;
		}
		div {
			margin-top: 25px;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 50px;
			height: 50px;
			padding: 5px;
			background-color: rgba(0,0,0,.2);
			cursor: pointer;
		}
	}
	.fn-show .fn-show-content.open {
		display: flex;
		.sec-text, .sec-white-bg {
			animation: fnShowText .5s ease .3s 1 both;
		}
		@keyframes fnShowText{
			  0%{ transform: translate3d(-     100%,0,0); }
			100%{ transform: translate3d(0%,0,0);   }
		}
		.sec-img {
			animation: fnShowImg .3s ease 0s 1 both;
		}
		@keyframes fnShowImg{
			  0%{ transform: translate3d(-100%,0,0); }
			100%{ transform: translate3d(0%,0,0); }
		}
	}
}
// sec2 END
// sec3 超越想像的多層享受
.sec3 {
	position: relative;
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
 	.gn-show {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0px;
		z-index: 20;
		display: none;
		left:0px;
	}
	.gn-show-content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		display: none;
		justify-content: center;
		align-items: center;
	}
	//version2
	.gn-box
	{
		text-align: center;
	}
	.gn-hide
	{
		display: none;
	}

	.sec-white-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}
	.sec-img {
		position: relative;
		height: 100%;
		order: -1;
		img {
			height: 100%;
		}
	}
	.a .sec-text { background-color: rgba(20,108,196,.43); }
	.b .sec-text { background-color: rgba(98,37,186,.43);  }
	.c .sec-text { background-color: rgba(239,184,72,.43); }
	.sec-text {
		position: relative;
		width: 100%;
		height: 100%;
		order: 1;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding-left: 5%;	
		h2, p {
			display: block;
			width: 95%;
			max-width: 500px;
			text-align: left;
			color: #fff;
		}
		h2 {
			font-size: 24px;
			color: #fff;
			margin: 20px 0;
			font-weight: 700;
		}
		p {
			font-size: 18px;
			line-height: 1.5;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 50px;
			height: 50px;
			padding: 5px;
			background-color: rgba(0,0,0,.2);
			cursor: pointer;
		}
	}
	.gn-show .gn-show-content.open {
		display: flex;
		.sec-text, .sec-white-bg {
			animation: fnShowText .5s ease .3s 1 both;
		}
		@keyframes fnShowText{
			  0%{ transform: translate3d(-100%,0,0); }
			100%{ transform: translate3d(0%,0,0);   }
		}
		.sec-img {
			animation: fnShowImg .3s ease 0s 1 both;
		}
		@keyframes fnShowImg{
			  0%{ transform: translate3d(-100%,0,0); }
			100%{ transform: translate3d(0%,0,0); }
		}
	}
}
.xltt-1 {
	position: relative;
	width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
		position: relative;
		line-height: 90px;
		font-size: 40px;
		color: rgba(0,0,0,.7);
		font-weight: 700;
		letter-spacing: 1px;
		box-sizing: border-box;
		text-align: center;
	}
}
.xltt-1-nav {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 60px;
	span {
		flex: 0 0 25%;
		padding: 2px 0px;
		text-align: center;
		color: rgba(0,0,0,.6);
		font-size: 18px;
		line-height: 30px;
		cursor: pointer;
		transition: .3s ease!important;
		&:hover {
			color: $main;
			box-shadow: inset 0 0 0 1px $main;
		}
	}
	span.target {
		background-color: $main;
		color: #fff;
	}
}
.xltt-1-content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.xltt-content-text {
	position: relative;
	width: 100%;
	max-width: 450px;
	padding: 0 50px;
	h2 {
		color: $main;
		margin-bottom: 0px;
		font-size: 30px;
		font-weight: 700;
	}
	p {
		font-size: 22px;
		line-height: 1.5;
		color: rgba(0,0,0,.69);
	}
	.gn
	{
		display: inline-block;
		width: 150px;
		height: 100%;
		margin: 0 20px 0 0;
		color: $main;
		font-size: 20px;
		line-height: 50px;
		transition: .3s ease;
		text-align: center;
		cursor: pointer;
		box-shadow: inset 0 0 0 1px $main;
		&:hover {
			color: #fff;
			background-color:$main;
		}
	}
	

}
.xltt-content-img {
	position: relative;
	width: 100%;
	max-width: 550px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	img.big {
		display: none;
		width: 100%;
		display: block;
		position: relative;
		transition: .3s ease;
	}
	.img-select {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 15px;
		img {
			display: inline-block;
			width: 22%;
			cursor: pointer;
			opacity: .65;
			transition: .25s;
			&:hover {
				opacity: 1;
			}
		}
	}
	@keyframes imgchange {
		  0%{ opacity: 0 }
		100%{ opacity: 1 }
	}
}
.xltt-1-content.a { display: none; }
.xltt-1-content.b { display: none; }
.xltt-1-content.c { display: none; }
.xltt-1-content.show { display: flex; animation: imgchange .5s ease 0s 1 both; }
// sec3 END
// sec4 實現跳痛人生的百搭造型
.sec4 {
  background-color: #0098ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.xltt-2 {
	position: relative;
	width: 100%;
	display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 50px 5%;
  background-color: $main;
}
.xltt-3 {
	position: relative;
	width: 100%;
	display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 50px 5%;
  background-color:#fff;
}
.xltt-2-intro {
	display: none;
	height: 480px;
	width: 100%;
	max-width: 950px;
	justify-content: space-between;
	align-items: center;
}
.xltt-intro-left {
	height: 100%;
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	.nav {
		color: #fff;
		display: flex;
		font-size: 0;
		flex: 0 0 auto;
		//correct version
		.a {
			box-shadow: inset -4px 0px -2px 0  rgba(255,255,255,.69);
			border-left:2px  rgba(255,255,255,.69) solid;
		}
		span {
			display: inline-block;
			font-size: 20px;
			line-height: 34px;
			width: 25%;
			box-shadow: inset -4px 0px 0 -2px rgba(255,255,255,.69);
			text-align: center;
			font-weight: 700;
			cursor: pointer;
			transition: .3s ease!important;
			&:hover {
				color: rgba(255,2555,255,.69);
			}
		}
		span.target {
			background-color: #fff;
			color: $main;
		}
	}
	.content {
		height: 200px;
		margin: 35px 0 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 {
			width: 100%;
			font-size: 30px;
			margin-bottom: 10px;
			color: #fff;
			span {
				color: #fff;
				margin-right: 10px;
			}
		}
		p {
			margin-top: 15px;
			width: 100%;
			font-size: 22px;
			line-height: 1.5;
			color: rgba(255,255,255,.85);
		}
		.calltoaction {
			right: 0;
			margin: 0 0 0 auto;
			box-shadow: none;
		}
	}
	.img-box {
		position: relative;
		font-size: 0;
		img {
			width: 23.5%;
			margin-right: 2%;
			cursor: pointer;
		}
		img:nth-child(4) {
			margin-right: 0%;
		}
	}
}
.xltt-2-intro-img {
	height: 100%;
	margin-left: 35px;
	flex: 0 0 auto;
}
.xltt-2-family {
	position: relative;
	width: 100%;
	max-width: 950px;
	display: flex;
	justify-content: space-between;
	.family-card {
		width: 22%;
		cursor: pointer;
		transition: .3s ease;
		&:hover {
			transform: scale3d(.98,.98,1);
		}
		img {
			width: 100%;
		}
		h2 {
			text-align: center;
			line-height: 50px;
			font-size: 24px;
			color: #fff;
			font-weight: 700;
		}
	}
}
.xltt-2-calltoaction {
	position: relative;
	display: flex;
  width: 100%;
  max-width: 1000px;
	justify-content: space-between;
	align-items: flex-end;
	h2 {
		font-size: 40px; 
		margin: 0;
		padding-right: 20px;
		color: #fff;
		background-color: $main;
		z-index: 2;
		font-weight: 700;
	}
	.line {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 40px;
		box-shadow: inset 0 -1px 0 0 #fff;
	}
}
.calltoaction {
	width: 175px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background-color: rgba(0,0,0,.8);
	box-shadow: -20px 0 0 0 #fff;
	text-align: center;
	font-size: 20px;
	margin-left: 20px;
	z-index: 2;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease;
	&:hover {
		background-color: rgba(0,0,0,.65);
	}
}
.xltt-2.show {
	justify-content: center;
  align-items: center;
  .xltt-2-intro {
		display: flex; 
	}
	.xltt-2-family {
		display: none;
	}
}
// sec4 END
// sec5 & sec6 buyme
.buyme {
	height: 95vh;
	.title {
		background-color: $main;
		width: 100%;
		height: 150px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		h2 {
			width: 90%;
			max-width: 1000px;
			color: #fff;
			font-size: 45px;
			font-weight: 700;
			margin-bottom: 25px;
			letter-spacing: 2px;
		}
	}
	.sub-title {
		width: 90%;
		max-width: 1000px;
		font-size: 20px;
		color: rgba(0,0,0,.7);
		line-height: 1.4;
		margin: 40px auto;
		font-weight: 700;
		letter-spacing: 1px;
	}
	.items {
		position: relative;
		width: 90%;
		max-width: 1000px;
		margin: 5% auto 0;
		font-size: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.item {
			flex: 0 0 auto;
			width: 23.5%;
			position: relative;
			display: inline-block;
			transition: .3s;
			cursor: pointer;
			img {
				width: 100%;
			}
			h3 {
				font-size: 20px;
				font-weight: 700;
				text-align: center;
				margin-top: 15px;
				transition: .3s ease;
			}
		}
		.item:hover {
			transform: scale(0.99);
			h3 {
				color: $main;
			}
		}
	}
}
// sec5 迫不及待 開學早鳥
.sec5.buyme {
	.title {
		background-color: rgba(0,0,0,.35);
	}
}
// sec5 END
// sec6 贊助商品區

// sec6 END
// sec7
.sec7 {
	height: auto;
	.small {
		color: rgba(255,255,255,.8);
		line-height: 1.5;
		padding-left: 15px;
		margin-top: 20px;
	}
}
.other {
	position: relative;
	width: 95%;
	max-width: 1080px;
	min-height:250px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 5% 0;
	.other-content-title {
		position: relative;
		width: 100%;
		height: 50px;
		h2 {
			position: absolute;
			display: inline-block;
			font-size: 30px;
			font-weight: 700;
			height: 100%;
			line-height: 50px;
			padding-right: 20px;
			color: $main;
			left: 0;
			top: 0;
			box-sizing: border-box;
			background-color: #fff;
			z-index: 10;
		}
		span {
			position: absolute;
	    display: flex;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 33px;
	    justify-content: flex-end;
	    align-items: center;
	    margin: 2px 0;
	    font-size: 17px;
	    color: rgba(0,0,0,.3);
	    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
		}
	}
	.other-content-content {
		position: relative;
		width: 95%;
    max-width: 800px;
    margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
		box-sizing: border-box;
		flex-wrap: wrap;
		.location-card {
			position: relative;
			width: 90%;
			max-width: 600px;
			padding-left: 30px;
			margin: 20px;
			h3 {
				position: relative;
				font-size: 20px;
				line-height: 35px;
				color: rgba(0,0,0,.7);
				margin-bottom: 15px;
				&:after {
					content: '';
					position: absolute;
					left: -26px;
					top: 10px;
					width: 15px;
					height: 15px;
					border-radius: 20px;
					box-shadow: inset 0 0 0 2px rgba(0,0,0,.6);
				}
			}
			p {
				font-size: 17px;
				line-height: 1.5;
				color: rgba(0,0,0,.5);
			}
			.viewmap {
				position: absolute;
				bottom: 0px;
				right: 0;
				width: 120px;
				height: 30px;
				line-height: 30px;
				background-color: #000;
				color: #fff;
				font-size: 17px;
				text-align: center;
				letter-spacing: 1px;
			}
		}
		.qa-card {
			position: relative;
			width: 100%;
			margin: 20px auto;
			.q {
				font-size: 20px;
				color: rgba(0,0,0,.70);
				margin-bottom: 15px;
				letter-spacing: 1px;
				line-height: 1.5;
				b {
					color: $main;
					font-size: 25px;
					margin-right: 5px;
				}
			}
			.a {
				font-size: 17px;
				line-height: 1.7;
				letter-spacing: 1px;
				color: rgba(0,0,0,.5);
			}
		}
	}
}
.other-madeforyou {
	background-image: url("../img/main/other-made-bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	max-width: 100%;
	width: 100%;
	height: 80vh;
	h1 {
		position: absolute;
		top: 14%;
		left: 5%;
		font-size: 5.2vw;
		color: #fff;
		font-weight: 700;
		letter-spacing: 2px;
		z-index: 3;
	}
}
.other-madeforyou-textbox {
	position: relative;
	width: 50%;
	height: 500px;
	background-color: rgba(0,0,0,.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 5%;
	h3 {
		position: relative;
		display: block;
		width: 100%;
		margin: 10px 0;
		padding-left: 15px;
		box-sizing: border-box;
		font-size: 20px;
		color: #fff;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: -5px;
			width: 20px;
			height: 20px;
			background-image: url('../img/main/xltt-icon-02.svg');
			background-size: contain;
			background-repeat: no-repeat;
			
		}
	}
}


.timeline {
	height: auto;
	.title {
		position: relative;
		width: 100%;
		max-width: 1000px;
		margin: 50px auto 0;
		color: $main;
		font-size: 35px;
		letter-spacing: 1px;
		font-weight: 700;
		text-align: center;
	}
}
.pc,.m {
	display: block;
	width: 100%;
	max-width: 1400px;
	margin: 0px auto 50px;
}
.pc {display: block;}
.m  {display: none;}
@media screen and (max-width: 992px){
	.pc {display: none;}
	.m  {display: block;}
  #nav {
    width: 100%;
    height: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: .3s ease;
    a {
      margin: 10px 0;
      display: none;
    }
    .calltoaction {
    	display: none;
    	margin: 10px 0;
    }
    .logo {
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 20px;
      }
    }
    .btn {
      display: block;
      position: absolute;
      top: 0;
      right: 10px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: .3s ease;
      transform: scale(.85);
      &:after,&:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 3px;
        width: 34px;
        height: 4px;
        background-color: rgba(0,0,0,.69);
        box-shadow: 0 11px 0 0 rgba(0,0,0,.69);;
        transition: .3s ease;
        transform: rotate3d(0,0,1,0deg) translateY(-13px);
      }
      &:before {
        box-shadow: 0 0px 0 0 rgba(0,0,0,.69);;
        transform: rotate3d(0,0,1,0deg) translateY(9px);
      }
    }
  }
  #nav.open {
    height: 100%;
    padding-top: 80px;
    a {
      display: block;
      animation: navgo .3s ease 0s 1 both;
    }
    span.calltoaction {
    	display: block;
    	margin-right: 0; 
    }
    a:nth-child(1) { animation: navgo .3s ease 0s 1 both; }
    a:nth-child(2) { animation: navgo .3s ease 0.2s 1 both; }
    a:nth-child(3) { animation: navgo .3s ease 0.4s 1 both; }
    a:nth-child(4) { animation: navgo .3s ease 0.6s 1 both; }
    span:nth-child(5) { animation: navgo .3s ease 0.8s 1 both; }
    @keyframes navgo {
        0%{ transform: translateX(-10%); opacity: 0; }
      100%{ transform: translateX(0%); opacity: 1; }
    }
    .btn:after {
      transform: rotate3d(0,0,1,45deg) translateY(0px);
      box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
    .btn:before {
      transform: rotate3d(0,0,1,-45deg) translateY(0px);
    }
  }
  body {
  	top: 40px;
  }
  .sec1 {
  	max-height: 100%;
  }
  .about-content-text {
  	 padding: 20px 20px;
  }
  //sec2
  .sec2 .header {
  	height: auto;
  	flex-wrap: wrap;
  	img {
  		margin: 0;
  		width: 100%;
  		max-width: 100%;
  	}
  	br {
  		display: none;
  	}
  	.m-sec-text {
  		display: block;
  		margin: 0 auto;
  		h2 {
  			margin: 10px auto;
  			font-size: 20px;
  			text-align: center;
  			box-shadow: inset 0 0 0 1px #fff;
  			padding: 15px 0;
  			width: 90%;
  		}
  		p {
  			color: rgba(255,255,255,1);
  			line-height: 1.7;
  			font-size: 17px;
  			letter-spacing: 1px;
  			padding: 5%;
  		}
  		div {
  			color: rgba(255,255,255,1);
  			line-height: 1.7;
  			font-size: 17px;
  			letter-spacing: 1px;
  			padding: 5%;
  		}
  	}
  }
  .sec2 {
  	.h-BnG {
  		padding: 5% 0;
  		h2 {
  			font-size: 35px;
  			width: 90%;
  			margin: 35px auto;
  		}
  		.p {
  			padding: 5%;
  		}
  	}
  }
  .sec2 .fn-wrap {
  	display: none;
  }

  //version2
  .sec3{
  	display: block;
  	height: auto;
  	.h-BnG {
  		padding: 5% 0;
  		h2 {
  			font-size: 35px;
  			width: 90%;
  			margin: 35px auto;
  		}
  		.p {
  			padding: 5%;
  		}
  	}
  	.gn-hide
	{

		display: block;
  		margin: 0 auto;
  		h2 {
  			margin: 10px auto;
  			font-size: 20px;
  			text-align: center;
  			box-shadow: inset 0 0 0 1px $main;
  			padding: 15px 0;
  			width: 90%;
  		}
  		p {
  			color:#333;
  			line-height: 1.7;
  			font-size: 17px;
  			letter-spacing: 1px;
  			padding: 5%;
  			text-align:left;
  		}
	}
	.gn
	{
		display:none;
	}
  }
  .sec3 .gn-wrap {
  	display: none;
  }
	.sec4 {
		display: block;
		height: auto;
	}
//version2
//version2
.sec4-2 .xltt-md {
    padding: 0;
}
.xltt-2-item {
	position:relative;
	width:auto;
	display: block;
	.item-card {
		position:relative;
		width:100%;

		cursor:auto;
		transition: .3s ease;
		float:left;

		img {
			width: 100%;
		}	
	}
}

.xltt-3
{

	.btn
	{
		width:50%;
	}
}
  // xltt-1
  .xltt-1 {
  	h2 {
  		line-height: 1.7;
  		font-size: 35px;
  		margin-bottom: 20px;
  	}
  }
  .xltt-1-nav {
  	display: none;
  }
  .xltt-1-content {
  	display: block!important;
  }
  .xltt-content-text  {
  	max-width: 100%;
  	padding: 5%;
  	h2 {
  		margin: 10px auto;
  	}
  }
  .xltt-content-img {
  	margin: 0 auto;
  }
  .xltt-content-img img.big  {
  	display: none;
  }
  .xltt-content-img .img-select {
  	flex-direction: column;
  	img {
  		width: 90%;
  		opacity: 1;
  		margin: 10px;
  	}
  }
  /////////////

  .xltt-2-calltoaction {
  	text-align: center;
  	line-height: 1.5;
  	margin-bottom: 0;
  }
  .xltt-2-family {
		display: none;
  }
  .xltt-2-intro {
  	display: block;
  }
  .xltt-2-intro {
  	height: auto;
  }
  .xltt-intro-left .nav {
  	display: none;
  }
  .xltt-2-intro-img {
  	display: none;
  }
  //////////////
  .other-madeforyou {
  	height: auto;
  	padding: 5% 0;
  	flex-direction: column;
  	background-attachment: scroll;
  }
  .other-madeforyou h1 {
  	position: relative;
  	top: 0;
  	left: 0;
  	font-size: 25px;
  	margin: 20px auto;
  }
  .other-madeforyou-textbox {
  	width: 95%;
  	padding: 0 3%;
  	h3 {
  		padding-left: 0;
  		&:after {
	  		display: none;
	  	}
  	}
  }
  .other .other-content-content .location-card {
  	padding: 0;
  	.viewmap {
  		position: relative;
  		margin: 25px auto 0;
  	}	
  }
  .other .other-content-content .qa-card {
  	width: 100%;
  }
}
@media screen and (max-width:767px){
	.slider .content {
		.slider-img1 { background-image: url("../img/main/home-banner1-m.jpg"); }
		.slider-img2 { background-image: url("../img/main/home-banner2-m.jpg"); }
		.slider-img3 { background-image: url("../img/main/home-banner3-m.jpg"); }
		.slider-img4 { background-image: url("../img/main/home-banner4-m.jpg"); }
		.slider-img5 { background-image: url("../img/main/home-banner5-m.jpg"); }
	} 
}	
